.vinzvideo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vinzvideo video {
  width: 100%;
  max-width: 380px; /* mobile default */
  height: auto;
  margin-bottom: 40px;
}

.ommig_section1 {
  padding: 20px 20px;
}

.ommig_section4 {
  padding: 20px 20px;
}

/* ---------- ACCORDION --------- */

details::details-content {
  height: 0;
  overflow: clip;
  transition: height 0.4s ease;
}

details[open]::details-content {
  height: 200px;
}

summary {
  margin-bottom: 12px;
  cursor: pointer;
}

summary::after {
  content: "+";
  float: right;
}

details[open] summary::after {
  content: "-";
}

/* ----------WEB QUERY--------- */

@media (min-width: 800px) {
  .vinzvideo video {
    width: 1000px;
    max-width: 100%;
  }
}
