.hansduevideo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hansduevideo video {
  width: 100%;
  max-width: 380px; /* mobile default */
  height: auto;
  margin-bottom: 40px;
}

.tema5_section1 {
  background-color: var(--blue-var3);
  margin-bottom: 40px;
}

.tema5_section1 .p_mobile {
  padding: 20px 60px;
}

.tema5_section2 {
  margin-bottom: 40px;
}

.tema5_section3 {
  background-color: var(--blue-var3);
  margin-bottom: 40px;
  margin-top: 30px;
}

/* ----------POPOVER-------- */
div[popover]::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(57, 54, 54, 0.527);
}

[popover] {
  height: 300px;
  max-width: 70%;
  margin: auto auto;
  padding: 20px;
}

/* ------------WEB QUERY----------- */

@media (min-width: 800px) {
  .hansduevideo video {
    width: 1000px;
    max-width: 100%;
  }

  [popover] {
    height: 800px;
    width: 800px;
  }

  .tema5_section3_img {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }
  .tema5_section3_header {
    grid-template-columns: 1/2;
    grid-row: 1/2;
  }

  .tema5_section2_img {
    align-self: center;
  }

  .tema5_section4_img {
    align-self: center;
  }
}
