.tema3_section1 {
  background-color: var(--blue-var3);
  margin-bottom: 40px;
}

.tema3_section1 .p_mobile {
  padding: 20px 60px;
}

.tema3_section2 {
  margin-bottom: 40px;
}

.tema3_section3 {
  background-color: var(--blue-var3);
  margin-bottom: 40px;
}

@media screen and (min-width: 800px) {
  .tema3_section3_img {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }
  .tema3_section3_header {
    grid-template-columns: 1/2;
    grid-row: 1/2;
  }

  .tema3_section2_img {
    align-self: center;
  }

  .tema3_section4_img {
    align-self: center;
  }
}
